In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from apyori import apriori
import statistics as st

/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
path='base_terrorismo.csv'
db=pd.read_csv(path,encoding='latin',error_bad_lines=False)

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (26,27,28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [50]:
db.head()

,iyear,imonth,iday,extended,country,country_txt,region,region_txt,provstate,city,...,gsubname2,gname3,gsubname3,motive,guncertain1,nperps,weaptype1,weaptype1_txt,weapdetail,nkill
0,1970,7,2,0,58,Dominican Republic,2,Central America & Caribbean,NaN,Santo Domingo,...,NaN,NaN,NaN,NaN,0.0,NaN,13,Unknown,NaN,1.0
1,1970,0,0,0,130,Mexico,1,North America,Federal,Mexico city,...,NaN,NaN,NaN,NaN,0.0,7.0,13,Unknown,NaN,0.0
2,1970,1,0,0,160,Philippines,5,Southeast Asia,Tarlac,Unknown,...,NaN,NaN,NaN,NaN,0.0,NaN,13,Unknown,NaN,1.0
3,1970,1,0,0,78,Greece,8,Western Europe,Attica,Athens,...,NaN,NaN,NaN,NaN,0.0,NaN,6,Explosives,Explosive,NaN
4,1970,1,0,0,101,Japan,4,East Asia,Fukouka,Fukouka,...,NaN,NaN,NaN,NaN,0.0,NaN,8,Incendiary,Incendiary,NaN

In [51]:
dataset=db.loc[:,['country_txt','attacktype1_txt','targtype1_txt',
                  'gname','motive']]

In [52]:
dataset.head()

,country_txt,attacktype1_txt,targtype1_txt,gname,motive
0,Dominican Republic,Assassination,Private Citizens & Property,MANO-D,NaN
1,Mexico,Hostage Taking (Kidnapping),Government (Diplomatic),23rd of September Communist League,NaN
2,Philippines,Assassination,Journalists & Media,Unknown,NaN
3,Greece,Bombing/Explosion,Government (Diplomatic),Unknown,NaN
4,Japan,Facility/Infrastructure Attack,Government (Diplomatic),Unknown,NaN

In [53]:
n=dataset.shape[0]
m=dataset.shape[1]

In [54]:
transactions=[]
for i in range (0,n):
    transactions.append([str(dataset.values[i,j]) for j in range (0,m)])

In [55]:
#Training Apriori on the dataset
rules=apriori(transactions,min_support=0.003,min_confidence=0.02,min_lift=3,min_lenght=2)

In [56]:
resultados=list(rules)

In [57]:
def inspect(resultados):
    rh = [tuple(resultados[2][0][0]) for resultados in resultados]
    lh = [tuple(resultados[2][0][1]) for resultados in resultados]
    supports = [resultados[1] for resultados in resultados]
    confidences = [resultados[2][0][2] for resultados in resultados]
    lifts = [resultados[2][0][3] for resultados in resultados]
    return list(zip(rh,lh,supports,confidences,lifts))

In [58]:
resultadosDataFrame= pd.DataFrame(inspect(resultados),columns=['rhs','lhs','support','confidence','lift'])

In [60]:
resultadosDataFrame.to_csv('REGLAS_DE_ASOCIACION.csv')